*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
    color: #1b1b1c;
}


/*----Home section---*/

#header
{
    width: 100%;
    height: 100vh;
    background: #101010;

}
.container{
    padding: 10px 10%;
}

#header-text
{
    font-size: 25px;
    margin-top: 12%;
    color: #ffffff;
}
#header-text h1{
    font-size: 60px;
}
#header-text h1 span   
{
    color: #059bec;
}
#header-text p span   
{
    color: #059bec;
}
#header-text a
{
    font-size: 15px;
}
#header-text h1 span.hello-text{
    font-size: 30px;
    color: #18191a;
}



.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8%;
}
.head-col-1{
    flex-basis: 35%;

}
.head-col-1 img{
    width: 100%;
    border-radius: 50%;
    border: solid white 15px;
    margin-top: 8%;
    margin-left: 60px;
}
.head-col-2{
    flex-basis: 50%;
}


/*----Know More Button Styling---*/
.know-button
{
    padding: 10px 25px 10px 25px;
    border-radius: 60px;
    border: none;
    background: #059bec;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    outline: none;
    margin-top: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.know-button .btn-link
{
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5px;
    padding-bottom: 20px;
    
    
}
.container .know-button .fa
{
    padding-right: 10px;
}
.container .know-button .fa-solid
{
    padding-right: 10px;
}

/*---end of know more button styling---*/




/*----About Me section---*/
#about
{
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
}
.about-row{
    margin-top: 2%;
}

.subtitle{
    font-size: 60px;
    text-align: center;
}

.description{
    margin-top: 2%;
    font-size: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #059bec;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;

}
.tab-contents ul li span{
    font-size: 18px;
    color: #059bec;
    font-weight: 500;
}
.tab-contents{
    display: none;
    width: 50%;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents ul li span.description-text{
    font-weight: 400;
    font-size: 15px;
    color: #18191a;
    
}



/*---Contact Section---*/
#contact
{
    width: 100%;
    height: 50vh;
    background: #1b1b1c;
    color: white;
}
.contact-row h1{
    margin-top: 4%;
    font-size: 40px;
}
.contact-center{
    text-align: center;
}

.contact-center ul li{
    display: inline-block;
    list-style: none;
    margin: 40px 20px;
}
.contact-center ul li span{
    padding-right: 10px;
    font-size: 15px;
    color: white;
    
}
.contact-center ul li span i.fa-solid.fa-envelope{
    color: #18191a;
}
.contact-center ul li span i.fa-solid.fa-phone{
    color: #18191a;
}

.social-icons{
    margin-top: 20px;
}
.social-icons a{
    font-size: 10px;
    color: white;
}
.social-icons a i.fab{
    color: #18191a;
}


/*----------------Small screens queries------------*/
@media only screen and (max-width: 600px){
    #header-text{
        margin-top: 10%%;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
    }
    #header-text h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .head-col-1, .head-col-2{
        flex-basis: 100%;
    
    }
    .head-col-1 img{
        width: 70%;
        display: block;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40%;
        border: solid white 5px;
        
    }
    .head-col-2{

    }
    .subtitle{
        font-size: 30px;
    }
    .description{
        margin-top: 2%;
        font-size: 15px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 35px;
    }
    .tab-contents{
        width: 100%;
    }
    .tab-contents ul li{
        font-size: 12px;
    }
    .tab-contents ul li span{
        font-size: 15px;
        width: 50%;
    }
    .description{
        margin-top: 20px;
    }
    .know-button
    {
        padding: 5px 15px 5px 15px;
        border-radius: 60px;
        border: none;
        background: #059bec;
        color: white;
        font-family: Arial, Helvetica, sans-serif; 
        outline: none;
        margin-top: 25px;
        
        font-size: 12px;
        
        padding-top: 10px;
        padding-bottom: 10px;
    
    }


    .container .know-button .fa
    {
        padding-right: 10px;
    }

    .contact-row h1{
        margin-top: 4%;
        font-size: 25px;
    }
    .contact-center ul li{
        display: inline-block;
        margin: 2px 1px;
        font-size: 12px;
        margin-top: 20px;
        
    }

    .contact-center ul li span{
        padding-right: 10px;
        font-size: 10px;
        color: white;
        text-align: left;
        
    }
    .social-icons a{
        font-size: 7px;
        color: white;
    }
    #contact{
        height: 30vh;
    }
    

}


/*-----TABLET Media Queries-----*/
@media only screen and (min-device-width : 768px) and (max-width: 900px){
    #header-text{
        margin-top: 10%%;
        font-size: 20px;
        text-align: center;
        font-weight: 400;
    }
    #header-text h1{
        font-size: 60px;
        margin-bottom: 10px;
    }
    .head-col-1, .head-col-2{
        flex-basis: 100%;
    
    }
    .head-col-1 img{
        width: 50%;
        display: block;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        border: solid white 10px;
        
    }
    .head-col-2{

    }
    .subtitle{
        font-size: 50px;
        margin-top: 50px;
    }
    .description{
        margin-top: 2%;
        font-size: 25px;
    }
    .tab-links{
        font-size: 25px;
        margin-right: 60px;
    }
    .tab-contents{
        width: 100%;
    }
    .tab-contents ul li{
        font-size: 20px;
    }
    .tab-contents ul li span{
        font-size: 30px;
        width: 50%;
    }
    .description{
        margin-top: 20px;
    }
    .tab-contents ul li span.description-text{
        font-size: 20px;
    }
    .know-button
    {
        padding: 15px 25px 15px 25px;
        border-radius: 60px;
        border: none;
        background: #059bec;
        color: white;
        font-family: Arial, Helvetica, sans-serif; 
        outline: none;
        margin-top: 50px;
        font-size: 20px;
    }

    .container .know-button .fa
    {
        padding-right: 10px;
    }

    .contact-row h1{
        margin-top: 4%;
        font-size: 50px;
    }
    .contact-center ul li{
        display: inline-block;
        margin: 2px 1px;
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        
        
    }

    .contact-center ul li span{
        padding-right: 10px;
        font-size: 20px;
        color: white;
        text-align: left;
        
    }
    .social-icons a{
        font-size: 12px;
        color: white;
    }
    #contact{
        height: 30vh;
    }
    

}